/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo del formulario */
.formulario {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.formulario label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.formulario input, .formulario select {
    width: 400px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    box-sizing: border-box;
}

.checkbox-container {
    display: flex; 
    align-items: center; 
    margin-inline-start: -30%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

::placeholder {
    color: white;
}