.shopName{
    border-bottom: gray solid 1px;
}

.name{
    margin-left: 50px;
}

.tabla {
    width: 700px;
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    border-collapse: collapse;
}

.tablaCarrito{
    width: 300px;
    height: 400px;
    margin-top: 100px;
    margin-left: 50px;
    border-collapse: collapse;
    background-color: darkgrey;
}

.tablaCarrito th{
    padding: 5%;   
}

.tablaCarrito td{
    padding: 5%;
}

.cabeceraTabla th{
    text-align: left;
    padding: 10px;   
    border-bottom: 2px solid black;
}

.cuerpoTabla td{
    padding: 20px; 
}

.linea{
    border-bottom: rgb(236, 236, 236) solid 1px;
}

.celda{
    display: flex;
    flex-direction: column;
}

.inputCantidad{
    width: 25px;
}

.tablas{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.precios{
    text-align: right;
}

