.shopName{
    border-bottom: gray solid 1px;
}

.name{
    margin-left: 50px;
}

.tabla {
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
    border-collapse: collapse;
}

.cabeceraTabla th{
    text-align: left;
    padding: 10px;   
    border-bottom: 2px solid black;
}

.cuerpoTabla td{
    padding: 20px; 
    border-bottom: 1px solid #ccc; 
}

.celda{
    display: flex;
    flex-direction: column;
}

.inputCantidad{
    width: 40px;
}

